* {
    margin: 0;
    padding: 0;
}



/* Nav-Section */
.nav-container {
    background-color: white;
    height: 80px;
    width: auto;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid red; */


}

.nav-logo {
    display: flex;
    gap: 10px;
    font-size: 30px;
    /* background-color: bisque; */
}

.nav-logo-g {
    color: rgb(247, 6, 86);
}

.nav-logo>img {
    height: 35px;
    width: 75px;
}

.nav-item,
.first-two-item,
.last-item {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.last-item {
    background-color: rgb(206, 197, 197);
    height: 35px;
    width: 180px;
    border-radius: 7px;


}



/* banner-section */
.banner-container {
    height: 80vh;
    width: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: rgb(255, 255, 255);
   
    /* border: 1px solid yellowgreen; */
   
    /* text-align: center; */

}

.banner-content {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    background-position-x: 100%;


}

.banner-margin {
    margin-top: 15px;
}

.banner-image {
    width: 50%;
    /* border: 1px solid blue; */
    padding-right: 100px;
}

.banner-image>img {
    height: 500px;
    width: 450px;
    padding-top: 25px;
    padding-left: 35px;
}

.banner-h1-1 {
    font-size: 20px;
}

.banner-h1-2 {
    font-size: 40px;
    color: rgb(199, 15, 199);
}


.banner-p {
    color: rgb(73, 73, 73);
}

.banner-p p {

    margin-bottom: 10px;
}

.sign-in-btn {
    background-color: rgb(243, 93, 118);
    border: none;
    color: white;
    height: 40px;
    width: 110px;
    border-radius: 55px;
}

.go-rogue-btn {
    background-color: rgb(111, 200, 235);
    border: none;
    color: white;
    height: 40px;
    width: 126px;
    border-radius: 63px;

}






/* online-gaming-section */
.online-gaming-container {
    height: 85vh;
    /* border: 1px solid white; */
    /* background-color: aquamarine; */
    /* display: flex; */
    /* flex-direction: column;
  justify-content: center; */
    /* align-items: center; */
}

.online-gaming-h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.online-gaming-h1 h1 {
    font-size: 40px;

}


.funny-videos-text {
    color: rgb(236, 4, 236);
}

.online-gaming-p {
    text-align: center;
    margin-bottom: 20px;

}

.online-gaming-p>p {
    color: rgb(110, 110, 110);
}


.card-container {
    display: flex;
    /* border: 1px solid red; */
    gap: 15px;
    justify-content: center;


}



.card-1,
.card-2,
.card-3,
.card-4 {
    /* border: 1px solid blue; */
    height: 280px;
    width: 250px;
    position: relative;
    /* overflow: hidden; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    border: 3px solid rgb(243, 125, 144);

  }
  
  /* Styling for the play button */
  .fa-sharp {
    /* width: 50px;
    height: 50px; */
    font-size: 40px;
    /* border-radius: 50%; */
    /* border: 2px solid #fff; */
    /* background-color: transparent; */
    /* outline: none; */
    cursor: pointer;
  }
  
  /* Styling for the "Watch Now" text */
  .watch-now {
    color: rgb(243, 125, 144);
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  /* Show the overlay on hover */
  .card-1:hover .overlay, .card-2:hover .overlay, .card-3:hover .overlay, .card-4:hover .overlay {
    opacity: 2;

  }


.card-main img {
    height: 280px;
    width: 250px;
    /* object-fit: cover; */
}

.card-footer{
    margin-top: 10px;
    color: rgb(99, 99, 99);
}






/* play-games-section */
.play-games-container {
    height: 80vh;
    /* border: 1px solid blue; */
    margin-bottom: 100px;
    display: flex;
}

.play-games-img{
width: 50%;
/* border: 1px solid red; */
text-align: center;
margin-top: auto;
margin-bottom: auto;
margin-left: 100px;
position: relative;

}

.play-games-img > .img-1{
    height: 420px;
    /* border: 2px solid gray; */
   
}

.play-games-img > .img-2{
    height: 200px;
    /* border: 2px solid salmon; */
    position: absolute;
    /* bottom: 0px; */
    left: 450px;
    bottom: -50px;
}





.play-games-content{
    width: 50%;
    /* border: 2px solid green; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 150px;
    }

.play-games-h1 h1{
    font-size: 35px;
}

.play-games-text, .online-text{
    color: rgb(170, 6, 170);
}

.play-games-p{
    margin-top: 25px;
}

.play-games-p p{
    color: rgb(107, 107, 107);
}





/* icon-type-button-section */
.icon-button-container{
    height: 50vh;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    background-color: rgb(252, 233, 236);
    justify-content: center;
    align-content: center;
}

.common{
    flex-basis: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 50px;
    background-color: white;
    height: 50px;
    margin: 10px;
    padding: 0px 10px 0px 10px;
  
}

.common:hover{
    border: 1px solid red;
    cursor: pointer;
}
.common:hover p {
    color: red;
    cursor: pointer;
}

.common p{
    /* color: red; */
    /* margin: auto; */
    /* border: 1px solid rgb(255, 189, 128) */
    margin-left: 5px;
}

.common img{
    height: 40px;
    width: 40px;
  /* border: 1px solid blue; */
}





/* footer-section */

.footer-section{
    height: 60vh;
    background-color: black;
    /* border: 1px solid red; */
    text-align: center;
    /* padding: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .footer-container{
   border: 1px solid yellow;

} */

.footer-div-1 .footer-logo{
display: flex;
justify-content: center;
/* border: 1px solid blanchedalmond; */

/* align-items: center; */
}

.footer-div-1 img{
    height: 30px;
}

.footer-div-1 h1{
    font-size: 28px;
    margin-left: 15px;
}

.footer-div-2{
    display: flex;
    justify-content: center;
    gap:40px;
    /* border: 1px solid saddlebrown; */
    margin: 30px 0px;
}


.footer-div-2 p, .footer-div-1 h1{
    color: white;
}

.footer-div-4, .footer-div-5{
    color: rgb(153, 151, 151);
}

.footer-div-3{
    font-size: 30px;
    margin: 15px 0px 30px 0px;
    /* border: 1px solid wheat; */
    
}
.footer-div-3 .fa-brands{
    margin: 15px;
}

.footer-div-4 small{
    margin: 20px;
}

.footer-div-5{
    margin-top: 15px;
}


@media screen and (max-width:576px) {

/* nav-section */
    .nav-container {
        background-color: white;
        height: 100vh;
        width: auto;
        /* width: 420px; */
        /* padding: 10px 150px; */
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        border: 1px solid red;
       
    
    
    }
    
    .nav-logo {
        display: flex;
        gap: 10px;
        /* font-size: 80px; */
        /* background-color: bisque; */
        /* border: 1px solid green; */
        justify-content: center;
        align-items: center;
        margin: 50px;
    }
    
    .nav-logo-g {
        color: rgb(247, 6, 86);
    }
    
    .nav-logo>img {
        /* height: 80px;
        width: 150px; */
    }
    
    .nav-item, .first-two-item
   {
        /* display: flex;
        flex-direction: column; */
        flex-direction: column;
        /* gap: 15px; */
        /* justify-content: center; */
        /* align-items: center; */
        /* border: 1px solid blue; */
    }
    .first-two-item{
        margin-bottom: 30px;
    }

    .first-two-item p{
        font-size: 30px;
    }
    .last-item {
        background-color: rgb(206, 197, 197);
        height: 80px;
        width: 350px;
        border-radius: 10px;
        font-size: 30px;
        /* margin-right: 100px; */
    
    }

    .last-item p{
        margin-right: 10px;
    }
}









@media screen and (min-width:577px) and (max-width:768px) {

    /* nav-section */
        .nav-container {
            background-color: white;
            height: 90vh;
            width: 450px;
            /* padding: 10px 150px; */
            /* display: flex; */
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        
            border: 1px solid red;
           
        
        
        }
        
        .nav-logo {
            display: flex;
            gap: 10px;
            font-size: 80px;
            /* background-color: bisque; */
            /* border: 1px solid green; */
            justify-content: center;
            align-items: center;
            margin: 50px;
        }
        
        .nav-logo-g {
            color: rgb(247, 6, 86);
        }
        
        .nav-logo>img {
            height: 80px;
            width: 150px;
        }
        
        .nav-item, .first-two-item
       {
            /* display: flex;
            flex-direction: column; */
            flex-direction: column;
            /* gap: 15px; */
            /* justify-content: center; */
            /* align-items: center; */
            /* border: 1px solid blue; */
        }
        .first-two-item{
            margin-bottom: 30px;
        }
    
        .first-two-item p{
            font-size: 35px;
        }
        .last-item {
            background-color: rgb(206, 197, 197);
            height: 100px;
            width: 450px;
            border-radius: 10px;
            font-size: 35px;
            /* margin-right: 100px; */
        
        }
    
        .last-item p{
            margin-right: 10px;
        }
    }
